body {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    text-align: center;
}



.body-copy {
    max-width: 700px;
    margin: auto;
    margin-top: 15px;

}
.card {
    max-width: 900px;
    min-width:300px;
    margin: auto;
    padding: 25px 5% 25px 5%;

}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 2.75rem;
}
 
.cover {
    background-image: url();
    background-color: black;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.tsn-logo {
    width: 55px;
    margin: auto;
}

.record {
    background-color: black;
    color: white;
    padding-top: 200px;
}

.rec-con {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rec {
    background-color: white;
    display: flex;
    align-items: center;
    color:black;
    flex-basis: 150px;
    height: 150px;
    border-radius: 10%;
    padding: 5px;
    margin: 10px;
}

.canball {
    background-color: black;
    color: white;
    padding-top: 200px;
}

.canball-stat-con {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.canball-stat {
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    
    flex-basis: 150px;
    height: 150px;
    border-radius: 10%;
    padding: 5px;
    margin: 10px;
}
